@using Project_1640.ViewModels;
@model IEnumerable<UsersViewModel>
@{
    ViewBag.Title = "Delete User";
}

    @foreach(var user in Model)
{
    <form method="post" asp-action="Delete" asp-controller="Users">
        <div class="border p-3 mt-4 mx-auto" style="width:40%">
        <div class="row pb-2">
            <h2 class="text-primary">Delete User</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="@user.FirstName"></label>
                <input asp-for="@user.FirstName" class="form-control" />
                
        </div>
        <div class="mb-3">
            <label asp-for="@user.LastName"></label>
                <input asp-for="@user.LastName" class="form-control" />
        </div>
        
        <div class="mb-3">
            <label asp-for="@user.Email"></label>
            <input asp-for="@user.Email" class="form-control" />
                
            
        </div>
          <div class="mb-3">
                <label asp-for="@user.Roles"></label>
                <input asp-for="@user.Roles" class="form-control" />
                

            
        </div>
          <div class="mb-3">
            <label asp-for="@user.DepartmentName"></label>
                <input asp-for="@user.DepartmentName" class="form-control" />
                

            
        </div>
            <a asp-controller="Topic" asp-action="Index" class="btn btn-secondary btn-danger" style="width:150px">
                <i class="bi bi-arrow-left-short align-middle"></i>
                Back
            </a>
            <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
    </form>
    }    
