@using Project_1640.ViewModels;
@model IEnumerable<UsersViewModel>
@{
    ViewBag.Title = "Delete User";
}

    @foreach(var user in Model)
{
    <form method="post" asp-action="Delete">
    <div class="form-group">
        <h2 class="text-primary">Delete User</h2>
        <hr />
    </div>
    <div class="form-group">
        <label asp-for="@user.FirstName"></label>
        <input asp-for="@user.FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@user.LastName"></label>
        <input asp-for="@user.LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@user.Email"></label>
        <input asp-for="@user.Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@user.Roles"></label>
         <input asp-for="@user.Roles" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@user.DepartmentName"></label>
        <input asp-for="@user.DepartmentName" class="form-control" />
    </div>
    <div class="form-group mt-3">
        <a asp-controller="Users" asp-action="Index" class="btn btn-secondary btn-danger" style="width:150px">
                <i class="bi bi-arrow-left-short align-middle"></i>
                Back
            </a>
            <button type="submit" class="btn btn-danger" style="width:150px">
                <i class="bi bi-trash d-inline-block" style="margin-right: .4rem"></i>
                Delete
            </button>
    </div>
</form>
    }    