@model Project_1640.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="pt-4">
    <div class="">
        <h2 class="text-primary">Category List</h2>
        <form asp-action="Index">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <input name="term" class="form-control" placeholder="Search by Category Name" />
                </div>
                <div class="col-12 mt-1 mt-sm-0 col-sm-6">
                    <button type="submit" class="btn btn-info">Search</button>
                    <a asp-action="Index" class="btn btn-danger mx-3">
                        Back to Full List
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
        <div class=" text-end">
            <a asp-controller="Categories" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus d-inline-block align-middle" style="font-size: 1.25rem"></i>
                Create New Category
            </a>
        </div>
<br />
<table class="table table-hover">
    <thead class="bg-gradient bg-primary text-white">
        <tr>
            <th>
                @if (@Model.NameSort == "")
                {
                    <a style="text-decoration:none; color:white" href="/Categories/Index?term=@Model.Term&orderBy=@Model.NameSort">Category Name<i style="font-size:20px" class="bi bi-sort-alpha-up"></i></a>
                }
                else
                {
                    <a style="text-decoration:none; color:white" href="/Categories/Index?term=@Model.Term&orderBy=@Model.NameSort">Category Name<i style="font-size:20px" class="bi bi-sort-alpha-down"></i></a>

                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.categories) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-outline-primary rounded mx-3 align-middle">
                        <i class="bi bi-pencil-square align-middle" style="font-size:20px"></i>
                        Edit
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-outline-danger rounded align-middle">
                        <i class="bi bi-trash align-middle" style="font-size:20px"></i>
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/Categories/Index?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@(Model.CurrentPage-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="page-item"><a class="page-link active text-danger" href="/Categories/Index?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/Categories/Index?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@i">@i</a></li>
                }
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/Categories/Index?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@(Model.CurrentPage+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
