@using System.Security.Claims;
@model Project_1640.ViewModels.CommentViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Idea Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ideas.IdeaName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ideas.IdeaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ideas.TopicId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ideas.TopicId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ideas.IdeaDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ideas.IdeaDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ideas.FilePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ideas.FilePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ideas.TotalLike)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ideas.TotalLike)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ideas.TotalDislike)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ideas.TotalDislike)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ideas.TotalView)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ideas.TotalView)
        </dd>
    </dl>
</div>
<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <a asp-controller="Idea" asp-action="Index" class="btn-check" style="width:150px">
        <i class="bi bi-arrow-left-short align-middle"></i>
        Back
    </a>
    <a asp-action="Like" asp-controller="Reactions" asp-route-id="@Model.Ideas.IdeaId" class="btn btn-outline-primary rounded align-middle">
        <i class="bi bi-hand-thumbs-up"></i>
        Like
    </a>
    <a asp-action="DisLike" asp-controller="Reactions" asp-route-id="@Model.Ideas.IdeaId" class="btn btn-outline-danger mx-2 rounded align-middle">
        <i class="bi bi-hand-thumbs-down"></i>
        Dislike
    </a>
    <a class="btn btn-outline-primary rounded" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="bi bi-chat-right-text align-middle" style="font-size:20px"></i>
        Comment
    </a>
    @if (@Model.Ideas.UserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier) || this.User.IsInRole("Admin") == true)
    {
        <a asp-action="Edit" asp-route-id="@Model.Ideas.IdeaId" class="btn btn-outline-primary rounded align-middle mx-2">
            <i class="bi bi-pencil-square align-middle" style="font-size:20px"></i>
            Edit
        </a>
        <a asp-action="Delete" asp-route-id="@Model.Ideas.IdeaId" class="btn btn-outline-danger rounded align-middle">
            <i class="bi bi-trash align-middle" style="font-size:20px"></i>
            Delete
        </a>
    }
</div>
<div class="collapse" id="collapseExample">
    <div class="card card-body my-3">
        <form asp-action="Create" asp-controller="Comments" asp-route-id="@Model.Ideas.IdeaId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label mb-3">Add a comment</label>
                <input asp-for="Comment.CommentText" class="form-control mb-3" />
                <span asp-validation-for="Comment.CommentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary mb-3" />
            </div>
        </form>
    </div>
</div>
<br />
<br />

<div class="container py-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10" style="width:100%">
            <div class="card text-dark">

                <div class="card-body p-4">
                    <h4 class="mb-0">Recent comments</h4>

                    @foreach (var item in Model.Comments)
                    {
                        <div class="d-flex flex-start">
                            <div>
                                <h6 class="text-primary fw-bold mb-0">User</h6>
                                <div class="d-flex align-items-center mt-3">
                                    <p class="mb-0">
                                        @Html.DisplayFor(modelItem => item.CommentDate)
                                    </p>
                                    <a asp-controller="Comments" asp-action="Delete" asp-route-id="@item.CommentId" class="px-3">
                                        <i class="bi bi-trash text-danger"></i>
                                    </a>
                                </div>
                                <p class="mb-1">
                                    @Html.DisplayFor(modelItem => item.CommentText)
                                </p>
                            </div>
                        </div>
                        <hr class="my-0" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
