@model PaginatedList<Project_1640.Models.Idea>

@{
    ViewData["Title"] = "Index";
}


<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Idea List</h2>
    </div>    
</div>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("IdeaName")
            </th>
            <th>
                @Html.DisplayName("IdeaDescription")
            </th>
            <th>
                @Html.DisplayName("FilePath")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdeaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdeaDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilePath)
                </td>
                <td class="text-center">
                    <div class="btn-group border-start" role="button">
                        <a asp-action="Edit" asp-route-id="@item.IdeaId" class="btn btn-outline-primary rounded mx-3 align-middle">
                            <i class="bi bi-pencil-square align-middle" style="font-size:20px"></i>
                            Edit
                        </a>
                        <a asp-action="Details" asp-controller="Idea" asp-route-id="@item.IdeaId" class="btn btn-outline-danger rounded align-middle">
                            <i class="bi bi-trash align-middle" style="font-size:20px"></i>
                            Details
                        </a>
                        <a asp-action="Delete" asp-controller="Idea" asp-route-id="@item.IdeaId" class="btn btn-outline-danger rounded align-middle">
                            <i class="bi bi-trash align-middle" style="font-size:20px"></i>
                            Delete
                        </a>
                        <a asp-action="Edit" asp-controller="Idea" asp-route-id="@item.IdeaId" class="btn btn-outline-danger rounded align-middle">
                            <i class="bi bi-trash align-middle" style="font-size:20px"></i>
                            Edit
                        </a>
                     </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-default @nextDisabled">
    Next
</a>
