@model Project_1640.ViewModels.IdeaViewModel

@{
    ViewData["Title"] = "Index";
}


<div class="pt-4">
    <div class="">
        <h2 class="text-primary">My Idea List</h2>
        <form asp-action="Index">
            <div class="row">
                <div class="col-6" >
                    <input name="term" class="form-control" placeholder="Search by Idea Name" />
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-info">Search</button>
                    <a asp-action="Index" class="btn btn-danger mx-3">
                        Back to Full List
                    </a>
                </div>
            </div>
        </form>
        
    </div>

</div>
<br />
<br />
<div class="table-responsive">
    <table class="table">
        <thead class="bg-gradient bg-primary text-white">
            <tr>
                <th>
                    @Html.DisplayName("Idea Name")
                </th>
                <th>
                    @Html.DisplayName("Idea Description")
                </th>
                <th>
                    @Html.DisplayName("File Path")
                </th>
                <th>
                    @Html.DisplayName("Created Date")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Ideas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdeaName)
                    </td>
                    <td width="30%">
                        @Html.DisplayFor(modelItem => item.IdeaDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FilePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td class="text-center">
                        <a asp-action="Details" asp-controller="Idea" asp-route-id="@item.IdeaId" class="btn btn-outline-info rounded align-middle">
                            <i class="bi bi-info-circle align-middle" style="font-size:20px"></i>
                            Details
                        </a>
                        <a asp-action="ZipFile" asp-controller="Idea" asp-route-id="@item.IdeaId" class="btn btn-outline-primary rounded align-middle">
                            <i class="bi bi-file-arrow-down align-middle" style="font-size:20px"></i>
                            Download File
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/Idea/Index?term=@Model.Term&currentPage=@(Model.CurrentPage-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="page-item"><a class="page-link active text-danger" href="/Idea/Index?term=@Model.Term&currentPage=@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/Idea/Index?term=@Model.Term&currentPage=@i">@i</a></li>
                }
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/Idea/Index?term=@Model.Term&currentPage=@(Model.CurrentPage+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>

