@using Project_1640.ViewModels
@model IEnumerable<MostPopularIdeaViewModel>

@{
    ViewData["Title"] = "MostPopularIdeas";
}
<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Most Popular Ideas</h2>
    </div>
</div>
<div class="table-responsive">

    <table class="table">
        <thead class="bg-gradient bg-primary text-white">
            <tr>
                <th>
                    @Html.DisplayName("Idea Name")
                </th>
                <th>
                    @Html.DisplayName("Idea Description")
                </th>          
                <th>
                    @Html.DisplayName("Topic Name")
                </th>
                <th>
                    @Html.DisplayName("Total Like")
                </th>
                <th>
                    @Html.DisplayName("Total Dislike")
                </th>
                <th>
                    @Html.DisplayName("Created Date")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdeaName)
                    </td>
                    <td width="30%">
                        @Html.DisplayFor(modelItem => item.IdeaDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TopicName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.TotalLike)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.TotalDislike)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td class="text-center">
                        <a asp-action="Details" asp-controller="Idea" asp-route-id="@item.IdeaId" class="btn btn-outline-info rounded align-middle">
                            <i class="bi bi-info-circle align-middle" style="font-size:20px"></i>
                            Details
                        </a>
                        <a asp-action="ZipFile" asp-controller="Idea" asp-route-id="@item.IdeaId" class="btn btn-outline-primary rounded align-middle">
                            <i class="bi bi-file-arrow-down align-middle" style="font-size:20px"></i>
                            Download File
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
