@model Project_1640.ViewModels.TopicViewModel
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="pt-4">
        <div class="">
            <h2 class="text-primary">Topic List</h2>
            <form asp-action="Index">
                <div class="row">
                    <div class="col-12 col-sm-6">
                       <input name="term" class="form-control" placeholder="Search by Topic Name" />
                    </div>
                    <div class="col-12 mt-1 mt-sm-0 col-sm-6">
                        <button type="submit" class="btn btn-info">Search</button>
                        <a asp-action="Index" class="btn btn-danger mx-3">
                            Back to Full List
                        </a>
                    </div>
                </div>
            </form>
        </div>
</div>
<br/>
        @if (this.User.IsInRole("Admin") == true)
        {
            <div class="text-end">
                <a asp-controller="Topic" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus d-inline-block align-middle" style="font-size: 1.25rem; vertical-align:0"></i>
                    Create New Topic
                </a>
            </div>
        }
<br/>
    <div class="table-responsive">

        <table class="table table-hover" style="width:100%">
            <thead class="bg-gradient bg-primary text-white">
                <tr>
                    <th>
                        @if (@Model.NameSort == "NameDesc")
                        {
                            <a style="text-decoration:none; color:white" href="/Topic/Index?term=@Model.Term&orderBy=@Model.NameSort">Topic Name<i style="font-size:20px" class="bi bi-sort-alpha-down"></i></a>
                        }
                        else
                        {
                            <a style="text-decoration:none; color:white" href="/Topic/Index?term=@Model.Term&orderBy=@Model.NameSort">Topic Name<i style="font-size:20px" class="bi bi-sort-alpha-up"></i></a>
                        }

                    </th>
                    <th>
                        @if (@Model.OrderBy == "CDateAsc")
                        {
                            <a style="text-decoration:none; color:white" href="/Topic/Index?term=@Model.Term&orderBy=@Model.ClosureDateSort">Closure Date<i style="font-size:20px" class="bi bi-sort-numeric-down"></i></a>
                        }
                    else
                        {
                            <a style="text-decoration:none; color:white" href="/Topic/Index?term=@Model.Term&orderBy=@Model.ClosureDateSort">Closure Date<i style="font-size:20px" class="bi bi-sort-numeric-up"></i></a>
                        }
                    </th>
                    <th>
                        @if (@Model.FinalClosureDateSort == "FCDateDesc")
                        {
                            <a style="text-decoration:none; color:white" href="/Topic/Index?term=@Model.Term&orderBy=@Model.FinalClosureDateSort">Final Closure Date<i style="font-size:20px" class="bi bi-sort-numeric-down"></i></a>
                        }
                        else
                        {
                            <a style="text-decoration:none; color:white" href="/Topic/Index?term=@Model.Term&orderBy=@Model.FinalClosureDateSort">Final Closure Date<i style="font-size:20px" class="bi bi-sort-numeric-up"></i></a>
                        }
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.Topics)
                {
                    @if (DateTime.Now > obj.ClosureDate && DateTime.Now > obj.FinalClosureDate)
                    {
                        ViewBag.Color = "#FF7276";
                    }
                    @if (DateTime.Now > obj.ClosureDate && DateTime.Now < obj.FinalClosureDate)
                    {
                        ViewBag.Color = "#FCF695";
                    }
                    @if (DateTime.Now < obj.ClosureDate && DateTime.Now < obj.FinalClosureDate)
                    {
                        ViewBag.Color = "#A7E99C";
                    }
                    <tr style="background: @ViewBag.Color">                        
                        <td>
                            @obj.Name
                        </td>
                        <td>
                            @obj.ClosureDate
                        </td>
                        <td>
                            @obj.FinalClosureDate
                        </td>
                        <td class="text-center" style="background: #fff">
                            <div class="dropdown border-start align-middle">
                                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:18px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z" />
                                        <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                    </svg>
                                    Download Option
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <a asp-controller="Topic" asp-action="CSVFile" asp-route-id="@obj.Id" class="dropdown-item btn btn-outline-primary rounded align-middle">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-csv" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM3.517 14.841a1.13 1.13 0 0 0 .401.823c.13.108.289.192.478.252.19.061.411.091.665.091.338 0 .624-.053.859-.158.236-.105.416-.252.539-.44.125-.189.187-.408.187-.656 0-.224-.045-.41-.134-.56a1.001 1.001 0 0 0-.375-.357 2.027 2.027 0 0 0-.566-.21l-.621-.144a.97.97 0 0 1-.404-.176.37.37 0 0 1-.144-.299c0-.156.062-.284.185-.384.125-.101.296-.152.512-.152.143 0 .266.023.37.068a.624.624 0 0 1 .246.181.56.56 0 0 1 .12.258h.75a1.092 1.092 0 0 0-.2-.566 1.21 1.21 0 0 0-.5-.41 1.813 1.813 0 0 0-.78-.152c-.293 0-.551.05-.776.15-.225.099-.4.24-.527.421-.127.182-.19.395-.19.639 0 .201.04.376.122.524.082.149.2.27.352.367.152.095.332.167.539.213l.618.144c.207.049.361.113.463.193a.387.387 0 0 1 .152.326.505.505 0 0 1-.085.29.559.559 0 0 1-.255.193c-.111.047-.249.07-.413.07-.117 0-.223-.013-.32-.04a.838.838 0 0 1-.248-.115.578.578 0 0 1-.255-.384h-.765ZM.806 13.693c0-.248.034-.46.102-.633a.868.868 0 0 1 .302-.399.814.814 0 0 1 .475-.137c.15 0 .283.032.398.097a.7.7 0 0 1 .272.26.85.85 0 0 1 .12.381h.765v-.072a1.33 1.33 0 0 0-.466-.964 1.441 1.441 0 0 0-.489-.272 1.838 1.838 0 0 0-.606-.097c-.356 0-.66.074-.911.223-.25.148-.44.359-.572.632-.13.274-.196.6-.196.979v.498c0 .379.064.704.193.976.131.271.322.48.572.626.25.145.554.217.914.217.293 0 .554-.055.785-.164.23-.11.414-.26.55-.454a1.27 1.27 0 0 0 .226-.674v-.076h-.764a.799.799 0 0 1-.118.363.7.7 0 0 1-.272.25.874.874 0 0 1-.401.087.845.845 0 0 1-.478-.132.833.833 0 0 1-.299-.392 1.699 1.699 0 0 1-.102-.627v-.495Zm8.239 2.238h-.953l-1.338-3.999h.917l.896 3.138h.038l.888-3.138h.879l-1.327 4Z" />
                                        </svg>
                                        Downdload CSV
                                    </a>
                                    <a asp-controller="Topic" asp-action="ExcelFile" asp-route-id="@obj.Id" class="dropdown-item btn btn-outline-primary rounded align-middle">
                                        <i class="bi bi-file-earmark-spreadsheet"></i>
                                        Downdload Excel
                                    </a>
                                    <a asp-controller="Topic" asp-action="ZipFile" asp-route-id="@obj.Id" class="dropdown-item btn btn-outline-primary rounded align-middle">
                                        <i class="bi bi-file-earmark-zip align-middle d-inline-block"></i>
                                        Downdload Zip
                                    </a>
                                </ul>
                            </div>
                        </td>
                        <td class="text-center" style="background: #fff">
                            <a asp-controller="Topic" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-outline-info rounded align-middle">
                                <i class="bi bi-info-circle align-middle" style="font-size:20px"></i>
                                Details
                            </a>
                            @if (this.User.IsInRole("Admin") == true)
                            {
                                <a asp-controller="Topic" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-primary rounded align-middle">
                                    <i class="bi bi-pencil-square align-middle" style="font-size:20px"></i>
                                    Edit
                                </a>
                                <a asp-controller="Topic" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-outline-danger rounded align-middle">
                                    <i class="bi bi-trash align-middle d-inline-block" style="font-size:20px"></i>
                                    Delete
                                </a>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/Topic/Index?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@(Model.CurrentPage-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="page-item"><a class="page-link active text-danger" href="/Topic/Index?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/Topic/Index?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@i">@i</a></li>
                }
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/Topic/Index?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@(Model.CurrentPage+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>

