@model IEnumerable<Topic>
@{
    ViewData["Title"] = "Index";
}

@if(TempData["success"] !=null)
{
    <h2>@TempData["success"]</h2>
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Topic List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Topic" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus d-inline-block align-middle" style="font-size: 1.25rem; vertical-align:0"></i>
                Create New Topic
            </a>
        </div>
    </div>
    <br /><br />
    <table class="table table-hover" style="width:100%">
        <thead>
            <tr>
                <th>
                    Topic Name
                </th>
                <th>
                    Closure Date
                </th>
                <th>
                    Final Closure Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.ClosureDate
                    </td>
                    <td>
                        @obj.FinalClosureDate
                    </td>
                    <td width="24%" class="text-center">
                        <div class="w-75 btn-group border-start" role="button">
                            <a asp-controller="Topic" asp-action="Edit" asp-route-id="@obj.Id"
                                class="btn btn-outline-primary rounded mx-3 align-middle">
                                <i class="bi bi-pencil-square align-middle" style="font-size:20px"></i>
                                Edit
                            </a>
                            <a asp-controller="Topic" asp-action="Details" asp-route-id="@obj.Id"
                                class="btn btn-outline-danger rounded">
                                <i class="bi bi-trash align-middle d-inline-block" style="font-size:20px"></i>
                                Details
                            </a>
                            <a asp-controller="Topic" asp-action="Delete" asp-route-id="@obj.Id"
                                class="btn btn-outline-danger rounded">
                                <i class="bi bi-trash align-middle d-inline-block" style="font-size:20px"></i>
                                Delete
                            </a>
                            <a asp-controller="Idea" asp-action="Create"asp-route-id="@obj.Id" 
                                class="btn btn-outline-danger rounded">
                                <i class="bi bi-trash align-middle d-inline-block" style="font-size:20px"></i>
                                Create idea
                            </a>
                            <a asp-controller="Idea" asp-action="DownloadCSV" asp-route-id="@obj.Id"
                           class="btn btn-outline-danger rounded">
                                <i class="bi bi-trash align-middle d-inline-block" style="font-size:20px"></i>
                                Download CSV
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

