@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Application Roles";
}
<<<<<<< HEAD
<h1 class="text-center" style="margin-top:11rem">Roles List</h1>
<p class="float-end ">
    <a asp-action="Create" class="btn btn-primary btn-lg active"  role="button" aria-pressed="true">Create Role</a>                                             
</p>
<table class="table table-hover">
  <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach(var item in Model)
            {
                <tr>
                <td class="align-middle">@Html.DisplayFor(modelItem=>item.Name)</td>
                    <td class="text-center">
                    <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.Id">Delete<i class="gg-trash d-inline-block" style="margin-left: .6rem"></i></a>
                    </td>
                </tr>
            }
        </tbody>
</table>
=======
<h1>View Roles</h1>
<p>
    <a asp-action="Create">Create Role</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Id)</th>
        
            <th>@Html.DisplayNameFor(model=>model.Name)</th>

            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem=>item.Id)</td>
                <td>@Html.DisplayFor(modelItem=>item.Name)</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
>>>>>>> 966e45f38d108640538bfb026a22d5c4c6c4295b
